/* 
    Document   : style
    Created on : Dec 8, 2012, 6:02:58 PM
    Author     : jamesslater
    Description:
        Purpose of the stylesheet follows.
*/
div.friendsList{

    width:10%;
    float:right;
    height:100%px;


}


div.mainbody{
    
    border-style:dashed;
    border-width:3px;

}
div.Menu{
        float:left;
    	 width: 20%;
}
div.mainWindow{
    
    align: center;
    
    	width: 65%;	
}

h2, h3 { display:inline; }